name: on_commit

on:
  push:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: install rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: test
        run: cargo test
